# Lists

Hold multiple values

## CRUD
- Create ✅  - `marks = [80, 90, 100, 60, 85]`
- Read   ✅  - `index`, `negative index` & `slice (:)`
- Update ✅  - `index`, `append` &  `insert` 
- Delete ✅  - `remove` & `pop`

In [ ]:
mark1 = 60
mark2 = 80
mark3 = 70

# Can we have valiable holding multiple values?

### Create

In [33]:
marks = [60, 80, 70, 90, 50]

print(marks)

[60, 80, 70, 90, 50]

### Read

- Index
- Negative
- Slice

In [5]:
marks[1] # reading value

80

In [7]:
marks[-1] # negative index

50

In [ ]:
marks[2:] #slice

[70, 90, 50]

In [10]:
marks[::-1]

[50, 90, 70, 80, 60]

### Update

In [34]:
marks[1] = 95 # index update value

print(marks)

[60, 95, 70, 90, 50]

In [35]:
marks.append(80) # always adds at last

marks

[60, 95, 70, 90, 50, 80]

`marks.insert(0, 70)`

In [36]:
marks.insert(0, 70) # Insert in anywhere

marks

[70, 60, 95, 70, 90, 50, 80]

## Delete
- `pop()`
- `remove()`

In [37]:
marks.pop(2) # Based on index

95

In [38]:
marks.remove(70)

marks

[60, 70, 90, 50, 80]

In [39]:
characters = ['Hello kitty', 'Goku', 'Pikachu', 'Luffy', 'Yuji Itadori', "Levi"]

In [42]:
# Clue: len()
for i in range(len(characters)):
    print(i, characters[i])

0 Hello kitty
1 Goku
2 Pikachu
3 Luffy
4 Yuji Itadori
5 Levi

In [46]:
marks

[60, 70, 90, 50, 80]

In [47]:
for i in range(len(marks)):
    print(marks[i] * 2)

120
140
180
100
160

In [ ]:
for i, char in enumerate(characters):
    print(i, char)

0 Hello kitty
1 Goku
2 Pikachu
3 Luffy
4 Yuji Itadori
5 Levi

In [56]:
# Task 1.1: Double the power
powers = [2000, 3000, 4000, 1500, 4500]


# Output
# powers -> [4000, 6000, 8000, 3000, 9000]
for i in range(len(powers)):
    powers[i] = powers[i] * 2

print("powers ->", powers)

powers -> [4000, 6000, 8000, 3000, 9000]

In [58]:
# Task 1.2: Double the power
powers = [2000, 3000, 4000, 1500, 4500]


# Output
# doubled_powers -> [4000, 6000, 8000, 3000, 9000]
# powers -> [2000, 3000, 4000, 1500, 4500]
doubled_powers = []
for i in range(len(powers)):
    doubled_powers.append(powers[i] * 2)

print("doubled_powers ->", doubled_powers)
print("powers ->", powers)

doubled_powers -> [4000, 6000, 8000, 3000, 9000]
powers -> [2000, 3000, 4000, 1500, 4500]