# Lists

Hold multiple values

## CRUD
- Create ✅  - `marks = [80, 90, 100, 60, 85]`
- Read   ✅  - `index`, `negative index` & `slice (:)`
- Update ✅  - `index`, `append` &  `insert` 
- Delete ✅  - `remove` & `pop`

In [1]:
mark1 = 60
mark2 = 80
mark3 = 70

# Can we have valiable holding multiple values?

### Create

In [2]:
marks = [60, 80, 70, 90, 50]

print(marks)

[60, 80, 70, 90, 50]

### Read

- Index
- Negative
- Slice

In [3]:
marks[1] # reading value

80

In [4]:
marks[-1] # negative index

50

In [5]:
marks[2:] #slice

[70, 90, 50]

In [6]:
marks[::-1]

[50, 90, 70, 80, 60]

### Update

In [7]:
marks[1] = 95 # index update value

print(marks)

[60, 95, 70, 90, 50]

In [8]:
marks.append(80) # always adds at last

marks

[60, 95, 70, 90, 50, 80]

`marks.insert(0, 70)`

In [9]:
marks.insert(0, 70) # Insert in anywhere

marks

[70, 60, 95, 70, 90, 50, 80]

## Delete
- `pop()`
- `remove()`

In [10]:
marks.pop(2) # Based on index

95

In [11]:
marks.remove(70)

marks

[60, 70, 90, 50, 80]

In [12]:
characters = ['Hello kitty', 'Goku', 'Pikachu', 'Luffy', 'Yuji Itadori', "Levi"]

In [13]:
# Clue: len()
for i in range(len(characters)):
    print(i, characters[i])

0 Hello kitty
1 Goku
2 Pikachu
3 Luffy
4 Yuji Itadori
5 Levi

In [14]:
marks

[60, 70, 90, 50, 80]

In [15]:
for i in range(len(marks)):
    print(marks[i] * 2)

120
140
180
100
160

In [16]:
for i, char in enumerate(characters):
    print(i, char)

0 Hello kitty
1 Goku
2 Pikachu
3 Luffy
4 Yuji Itadori
5 Levi

In [17]:
# Task 1.1: Double the power
powers = [2000, 3000, 4000, 1500, 4500]


# Output
# powers -> [4000, 6000, 8000, 3000, 9000]
for i in range(len(powers)):
    powers[i] = powers[i] * 2

print("powers ->", powers)

powers -> [4000, 6000, 8000, 3000, 9000]

In [40]:
# Task 1.2: Double the power
powers = [2000, 3000, 4000, 1500, 4500]


# Output
# doubled_powers -> [4000, 6000, 8000, 3000, 9000]
# powers -> [2000, 3000, 4000, 1500, 4500]
doubled_powers = []
for i in range(len(powers)):
    doubled_powers.append(powers[i] * 2)

print("doubled_powers ->", doubled_powers)
print("powers ->", powers)

doubled_powers -> [4000, 6000, 8000, 3000, 9000]
powers -> [2000, 3000, 4000, 1500, 4500]

In [ ]:
doubled_powers = [x * 2 for x in powers]

print("doubled_powers ->", doubled_powers)
print("powers ->", powers)

doubled_powers -> [4000, 6000, 8000, 3000, 9000]
powers -> [2000, 3000, 4000, 1500, 4500]

## Task 2.1
Find longer names (>= 6 letter)

`characters = ['Hello kitty', 'Goku', 'Pikachu', 'Luffy', 'Yuji Itadori', "Levi"]`

Expected Output
`['Hello kitty', 'Pikachu', 'Yuji Itadori']`

In [22]:
characters = ['Hello kitty', 'Goku', 'Pikachu', 'Luffy', 'Yuji Itadori', "Levi"]

long_name_chars = []
for char in characters:
    if len(char) >= 6:
        long_name_chars.append(char)

print(long_name_chars)

['Hello kitty', 'Pikachu', 'Yuji Itadori']

In [25]:
long_name_chars = [char for char in characters if len(char) >= 6]
long_name_chars

['Hello kitty', 'Pikachu', 'Yuji Itadori']

In [29]:
characters = ['Hello kitty', 'Goku', 'Pikachu', 'Luffy', 'Yuji Itadori', "Levi"]

print("[")
for char in characters:
    if len(char) >= 6:
        print(f"    {char},")
print("]")

[
    Hello kitty,
    Pikachu,
    Yuji Itadori,
]

## Task 2.2

Calculate the total of shopping_items & apply tax of 10%

```py
shopping_items = [1000, 5000,  4000, 2000, 3000]
```

Expected Output

```
Your totals is 15,000
Tax is 10%      1,500 
Your grand total is 16,500
```

In [ ]:
# Numberlic separator
shopping_items = [1000, 5000,  4000, 2000, 3000]
total = 0
tax_percent = 0.1

for item in shopping_items:
    total += item

tax = total * tax_percent

# Formatting Output -> UX
output = f"""
Your totals is {total: ,}
Tax is {tax_percent * 100}%      {tax: ,}
Your grand total is {total + tax: ,}
"""
print(output)

Your totals is  15,000
Tax is 10.0%       1,500.0
Your grand total is  16,500.0

## Multi Line String

```py
"""
This is cool
This is amaging
"""
```

output

```
This is cool
This is amaging
```